#heading{ text-align: center; color: #2F4F4F; } 

#description h4{ text-align: center; } 
#description p{ margin-left:auto; margin-right:auto; width: 600px; }

#stakeholder h4{ text-align: center; padding: 0px 0px 20px 0px; } 
#stakeholder p{ margin-left:auto; margin-right:auto; width: 200px;line-height: 10px; } 
#stakeholder form{ text-align: center ; } 
#stakeholder ul{ list-style: none; } 

#drawings form{ text-align: center; padding: 0px 0px 20px 0px;  }
#drawings h4{ text-align: center; }
#drawings p{  margin-left:auto; margin-right:auto; width: 200px; line-height: 10px; }
#drawings ul{ list-style: none; }

#equipment-list h4{ text-align: center; padding: 0px 0px 20px 0px;  }
#equipment-list p{  margin-left:auto; margin-right:auto; width: 200px; line-height: 10px; }
#equipment-list ul{ list-style: none; }
#equipment-list form{ text-align: center; }


#purchase-orders form{ text-align: center; padding: 0px 0px 20px 0px;  }
#purchase-orders h4{ text-align: center; }
#purchase-orders p{ margin-left:auto; margin-right:auto; width: 200px; line-height: 10px; }
#purchase-orders ul{ list-style: none; }


#purchase-req form{ text-align: center; padding: 0px 0px 20px 0px;}
#purchase-req h4{ text-align: center; }
#purchase-req p{  margin-left:auto; margin-right:auto; width: 200px; line-height: 10px;  }
#purchase-req ul{ list-style: none; }



.footer{ background-color: #3F51B5; width:100%; height: 50px; } 
.footer p{ color: white; font-size: 24px; padding: 10px 10px 10px 75px; } 